container_commands:
  00_1_pip_upgrade:
    command: "/var/app/venv/staging-LQM1lest/bin/pip install --upgrade pip"
    ignoreErrors: false
  00_2_yum_installs1:
    command: "sudo yum -y install libcurl-devel"
    ignoreErrors: false
  00_3_yum_installs2:
    command: "sudo yum -y install openssl-devel"
    ignoreErrors: false
  01_install_pycurl:
    command: "pip install pycurl"
    ignoreErrors: false