<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Rotten Tomatoes Recommendation App</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='tomato-favicon.ico') }}"
    />
  </head>

  <section class="hero is-info">
    <div class="hero-body">
      <p class="title">
        Rotten Tomatoes Recommendation App
        <img src="../../static/tomato-favicon-32x32.png" alt="tomato" />
      </p>
      <p class="subtitle"><strong>Get Similar Movies and Shows</strong></p>
      <a class="button" href="/"> Home </a>
    </div>
  </section>

  <body class="has-background-light">
    <section class="section">
      <div class="container">
        <form id="form">
          <nav class="level">
            <div class="level-item has-text-centered">
              <div class="field">
                <div class="control">
                  <label class="label" for="url"
                    >Movie or TV Show's Rotten Tomatoes Page</label
                  >
                  <input
                    class="input"
                    type="url"
                    id="url"
                    name="url"
                    value="https://www.rottentomatoes.com/"
                    placeholder="https://www.rottentomatoes.com/m/example"
                    pattern="^https://www.rottentomatoes.com/(m|tv)/.*"
                    required
                    size="60"
                  />
                </div>
              </div>
            </div>
          </nav>

          <div class="columns">
            <div class="column"></div>
            <div class="column">
              <div class="field">
                <div class="control">
                  <label class="label" for="platforms"
                    >Available Platforms</label
                  >
                  <div class="select is-multiple">
                    <select multiple size="7" name="platforms" id="platforms">
                      <option value="all">All</option>
                      <option value="amazon-prime-video-us">
                        Amazon Prime Video US
                      </option>
                      <option value="itunes">Itunes</option>
                      <option value="apple-tv-plus-us">Apple TV Plus US</option>
                      <option value="disney-plus-us">Disney Plus US</option>
                      <option value="hbo-max">HBO Max</option>
                      <option value="hulu">Hulu</option>
                      <option value="netflix">Netflix</option>
                      <option value="paramount-plus-us">
                        Paramount Plus US
                      </option>
                      <option value="peacock">Peacock</option>
                      <option value="vudu">Vudu</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>

            <div class="column">
              <div class="field">
                <div class="control">
                  <label class="label" for="tomatometerSlider"
                    >Minimum Tomatometer Score</label
                  >
                  <input
                    oninput="tomato.value=parseInt(tomatometerSlider.value)"
                    name="tomatometerSlider"
                    id="tomatometerSlider"
                    class="slider has-output is-fullwidth"
                    min="0"
                    max="100"
                    value="50"
                    step="1"
                    type="range"
                  />
                  <output name="tomato" for="tomatometerSlider">50</output>

                  <label class="label" for="audienceSlider"
                    >Minimum Audience Score</label
                  >
                  <input
                    oninput="audience.value=parseInt(audienceSlider.value)"
                    name="audienceSlider"
                    id="audienceSlider"
                    class="slider has-output is-fullwidth"
                    min="0"
                    max="100"
                    value="50"
                    step="1"
                    type="range"
                  />
                  <output name="audience" for="audienceSlider">50</output>

                  <label class="label" for="yearSlider">Oldest Year</label>
                  <input
                    oninput="year.value=parseInt(yearSlider.value)"
                    name="yearSlider"
                    id="yearSlider"
                    class="slider has-output is-fullwidth"
                    min="1900"
                    max="2022"
                    value="1900"
                    step="1"
                    type="range"
                  />
                  <output name="year" for="yearSlider">1900</output>

                  <label class="label mt-1" for="limit">Limit</label>
                  <input
                    name="limit"
                    id="limit"
                    class="input"
                    type="number"
                    min="1"
                    max="50"
                    step="1"
                    value="10"
                    required
                    oninput="this.value = Math.abs(this.value) > 0 ? Math.abs(this.value) : null"
                    style="width: 33%"
                  />
                </div>
              </div>
            </div>
            <div class="column"></div>
          </div>
          <nav class="level">
            <div class="level-item has-text-centered">
              <button
                class="button js-modal-trigger is-info"
                type="submit"
                data-target="success-modal"
                id="submitButton"
                disabled
              >
                Generate recommendations!
              </button>
            </div>
          </nav>
        </form>
      </div>
    </section>

    <script>
      const urlField = document.getElementById("url");
      const limitField = document.getElementById("limit");
      const submitButton = document.getElementById("submitButton");
      const expression = /^https:\/\/www.rottentomatoes.com\/(m|tv)\/.*/;
      const regEx = new RegExp(expression);
      url.addEventListener("keyup", () => {
        if (regEx.test(urlField.value)) {
          submitButton.disabled = false;
        } else {
          submitButton.disabled = true;
        }
      });

      limit.addEventListener("input", () => {
        if (parseInt(limitField.value) > 50) {
          submitButton.disabled = true;
        } else {
          submitButton.disabled = false;
        }
      });

      document.addEventListener("DOMContentLoaded", () => {
        // Functions to open and close a modal
        function openModal($el, $url) {
          $el.classList.add("is-active");
        }

        function closeModal($el) {
          $el.classList.remove("is-active");
        }

        function closeAllModals() {
          (document.querySelectorAll(".modal") || []).forEach(($modal) => {
            closeModal($modal);
          });
        }

        // Add a click event on buttons to open a specific modal
        (document.querySelectorAll(".js-modal-trigger") || []).forEach(
          ($trigger) => {
            const modal = $trigger.dataset.target;
            const $target = document.getElementById(modal);
            const $url = document.getElementById("actorURL");

            $trigger.addEventListener("click", () => {
              openModal($target, $url);
            });
          }
        );

        // Add a click event on various child elements to close the parent modal
        (
          document.querySelectorAll(
            ".modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button"
          ) || []
        ).forEach(($close) => {
          const $target = $close.closest(".modal");

          $close.addEventListener("click", () => {
            closeModal($target);
          });
        });

        // Add a keyboard event to close all modals
        document.addEventListener("keydown", (event) => {
          const e = event || window.event;

          if (e.keyCode === 27) {
            // Escape key
            closeAllModals();
          }
        });
      });
    </script>

    <div id="success-modal" class="modal">
      <div class="modal-background"></div>

      <div class="modal-content">
        <div class="box">
          <p>
            Success! Please wait for your recommendations to be generated...
          </p>
          <progress
            class="progress is-medium is-info"
            id="progressBar"
            value="0"
            max="100"
          >
            0%
          </progress>
        </div>
      </div>

      <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <script>
      const progressBar = document.getElementById("progressBar");

      function updateProgress(value) {
        progressBar.setAttribute("value", value);
        progressBar.innerHTML = value + "%";
      }

      document.forms["form"].addEventListener("submit", (event) => {
        event.preventDefault();

        fetch("enqueue/", {
          method: "POST",
          body: new URLSearchParams(new FormData(event.target)),
        }).then((res) => {
          res.json().then((data) => {
            job_id = data["job_id"];

            const source = new EventSource("/similar/progress/" + job_id);

            source.onmessage = function (event) {
              const data = JSON.parse(event.data);
              console.log(data);
              if (data["progress"]) {
                updateProgress(data["progress"]);
              }

              if (data["result"]) {
                updateProgress(100);
                source.close();
                window.location = data["result"];
              }
            };
          });
        });
      });
    </script>
  </body>

  <footer class="footer has-background-light">
    <div class="content has-text-centered">
      <p>
        <strong>Rotten Tomatoes Recommendation App</strong> by
        <a href="https://github.com/Danielpark1239">Daniel Park</a>.
      </p>
    </div>
  </footer>
</html>
